.flex{
    display: flex;
}



header{

display: flex;
justify-content: space-around;
background-color:#ff6900 ;
align-items: center;
color: white;
width: 100%;
padding-block: 20px;
}
ul{
    /* list-style-type: none; */
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left:10px ;
    gap: 10px;
   
}
a{
text-decoration: none;
color: white;
}

header picture img{
    width: 140px;
    height: auto;

}
header div.flex{

    gap: 5px;
    align-items: center;
}
.icon-nav{

    width: 15px;
    height: auto;
   
}

.container-80{
    
    width: 80%;
    margin:0 auto;

}
.img-main{

     height: 500px;
     width: auto;
    

}
.fl-bas-calc{
    flex-basis: calc(100%/3);
   
}
main{

    margin-top: 50px;
}

/* #mar-bot{

    margin-bottom: 30px;
    } */

.icon-svg{

    width: 20px;

}    

.cont-pos{

    

}