.flex{
    display: flex;
}



header{

display: flex;
justify-content: space-around;
background-color:#ff6900 ;
align-items: center;
color: white;
width: 100%;
padding-block: 20px;
margin-bottom: 30px;
}
ul{
    /* list-style-type: none; */
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left:10px ;
    gap: 10px;
   
}
a{
text-decoration: none;
color: white;
}

header picture img{
    width: 140px;
    height: auto;

}
header div.flex{

    gap: 5px;
    align-items: center;
}
.icon-nav{

    width: 15px;
    height: auto;
   
}

.container-80{
    
    width: 80%;
    margin: 0 auto;
}


.img-main{

     height: 500px;
     width: auto;
     margin-right: 20px;
    

}
.fl-bas-calc{
 flex-basis:calc(90%/3);
 

}

.icon-svg{

    width: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: white;
    padding: 10px;  
}    


.cont-pos{

    position: relative;

}
.discount{

    position: absolute;
    top: 90%;
    background-color: red;
    color: white;
    padding-block: 5px;
    padding-inline: 10px;

}
.sost{
    position: absolute;
    top: 90%;
    left: 70px;
    background-color:green;
    color: white;
    padding-block: 5px;
    padding-inline: 10px;
}

.sost1{
    position: absolute;
    top: 90%;
    
    background-color:green;
    color: white;
    padding-block: 5px;
    padding-inline: 10px;
}

.old-price{

    text-decoration: line-through;

}


.new-price{

    color:red;

}


footer{

    height: 50px;
    background-color: gray ;
    margin-top: 20px;
}